
body {
  background-color: #494949;
  font-family: 'Heebo', sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  width: 70%;
  
}

.photo {
  width: 100%;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  border-bottom: 2px solid black;
  padding-bottom: 10px;

}

.info h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  margin: 5px auto;
}

.info h3 {
  font-weight: 300;
  margin: 5px auto;
}

.info h4 {
  font-weight: 100;
  margin: 5px auto;
}

.linkedIn {
  background-color: #0b66c2;
  color: white;
  border: 0;
  width: 75px;
  margin-right: 5px;
  height: 30px;
}

.github {
  background-color: white;
  color: black;
  border: 1px solid black;
  width: 75px;
  margin-right: 5px;
  height: 30px;
}

.linkedIn img{
  width: 10px;
  margin-right: 2px;
}

.github img {
  width: 10px;
  margin-right: 2px;
}

.about {
  margin-left: 10px;
  
}

.about h3 {
  
}
