
body {
  background-color: #494949;
  font-family: 'Heebo', sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  width: 50%;
  
}

.photo {
  width: 100%;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.info h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}